.container {
    text-align: center;
}

.imgStyle {
    width: calc(100vw - 20px);
    height: calc(100vh - 80px);
}

.centerImg{
    width: 300px;
}

.imgCls{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    font-family: cursive;
}