.container {
    text-align: center;
}
.centerImg{
    width: 300px;
}
.msg{
    width: 300px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    font-family: cursive;
}

.imgStyle {
    width: calc(100vw - 20px);
    height: calc(100vh - 120px);
}

.arrow {
    width: 90px;
}

.arrow-container {
    text-align: right;
    width: calc(100vw - 20px);
}

.card{
    margin: 20px 0;
}
.textCls{
    font-size: 10px;
    margin-bottom: 0;
}